{% extends 'layout.html' %}

{% block title %}Signup{% endblock %}
{% block content %}
<style>
	.signup{
		width:300px;
	}
</style>
<h1>모든 서비스는 로그인 및 회원가입을 해야 이용이 가능합니다.</h1>
<div class="signup">
	<form action="" method="post">
		{% csrf_token %}
		{% for field in signup_form %}
			<div class="form-group{% if field.errors %} has-error{% endif %}">
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
					{% for error in field.errors %}
					<span class="help-block">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}

		{% if signup_form.non_field_errors %}
			{% for error in login_form.non_field_errors %}
			<p class="text-danger"><b>{{ error }}</b></p>
			{% endfor %}
		{% endif %}
		<button class="btn btn-primary btn-block">회원가입</button>
	</form>
</div>
{% endblock %}